.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;    
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

.btn:active {
  transform: translate(1px, -1px);
}

.btn[disabled] {
  opacity: .5;
  cursor: not-allowed;
}
 