@import "../../sass/base/variables";

.listItem {
    display: flex;
    margin-bottom: 23px;    
    &:global(.active) {
        .listItemLink {
            color: $blue;
            opacity: 1;
        }                 
    }       
}

.listItemLink {
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: $text-color;
    opacity: 0.5;
    display: flex;
    &:hover {
        opacity: 0.8;
    }
}

.iconContainer {
    width: 33px;
}
