.list {
    li {
        display: flex;
        margin-bottom: 22px;
        a {
            text-decoration: none;
            font-size: 12px;
            font-weight: 700;
            color: #0F1E36;
            opacity: 0.5;
            display: flex;
            &:hover {
                opacity: 0.8;
            }
            span {
                width: 33px;
            }
        }
        &.active {
            a {
                color: #3E2AD1;
                opacity: 1;
            }
            
        }
    }
}