button {
    width: 62px;
    height: 22px;
    border: none;
    background-color: #fff;
    color: #E6152B;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 2px 8px #bc1428;
}