.small-slider-container {
    margin-left: 23px;
    max-height: 215px;
    .slick-list {
        max-height: 153px;
        .slick-track {
            max-height: 153px;
        }
    }
    .slick-slide {
        margin-right: 10px;
        width: 122px !important;
    }
    h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        padding: 26px 0 13px 0;
    }
    .slideSmall {
        max-width: 112px;        
        overflow: hidden;
        .titleTrack {
            margin-top: 8px;
            font-size: 12px;            
            font-weight: 700;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        span {
            font-size: 10px;
        }
        img {
            height: 112px;
            object-fit: cover;
        }
    }
}