.upperPartSlider {
    height: 307px;
}
.bottomPart {
    min-height: 472px;
    background: linear-gradient(180deg, rgba(244, 249, 255, 0.0001) 0%, #F4F9FF 26.23%);
    h3.title-table {
        margin: 25px 0 2px 23px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
    }
}