.sidebar {
    grid-row: 2 / 3;
    border-right: 1px solid #EEEEEE;
    padding: 35px 0 0 26px;
    &__top {
        li {
            display: flex;
            margin-bottom: 22px;
            a {
                text-decoration: none;
                font-size: 12px;
                font-weight: 700;
                color: #0F1E36;
                opacity: 0.5;
                display: flex;
                &:hover {
                    opacity: 0.8;
                }
                span {
                    width: 33px;
                }
            }
            &.active {
                a {
                    color: #3E2AD1;
                    opacity: 1;
                }
                
            }
        }
    }
    h3 {
        font-size: 12px;        
        margin-bottom: 17px;
    }
    &__middle, &__bottom {
        li {
            display: flex;
            margin-bottom: 24px;
            a {
                text-decoration: none;
                font-size: 12px;
                font-weight: 700;
                color: #0F1E36;
                opacity: 0.5;                
                display: flex;
                &:hover {
                    opacity: 0.8;
                }
                span {
                    width: 33px;
                }
            }
        }
    }
    .playlist-head {
        display: flex;
        align-items: center;
        margin: 0 19px 13px 0;
        h3 {
            margin: 0;
            flex-grow: 1;
        }
        &__icon {
            img {
                cursor: pointer;
            }
        }
    }
    &__bottom {        
        opacity: 0;
        visibility: hidden;
        transition: .35s opacity, .35s visibility;
        &.visible {    
            opacity: 1;        
            visibility: visible;
        }
    }   
}