@import-normalize;

@import "./sass/base/variables";
@import "./sass/base/function";
@import "./sass/libs/slick";
@import "./sass/libs/slickTheme";


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;    
    color: $text-color;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}