@import "./sass/base/variables";
@import "./sass/libs/slick";
@import "./sass/libs/slickTheme";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Roboto", -apple-system, "system-ui", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro', sans-serif;    
    color: #0F1E36;
}
