.albumPage {
    border-top: 1px solid #EEEEEE;
    background-color:lightcyan;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerAlbumPage {
    margin: 20px auto;
    text-align: center;
}
.buttonAlbumPage {
    width: 150px;
    height: 35px;
    border: none;
    background-color: #a82d6f;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;    
    &:hover {
        background-color: darken(#a82d6f, 10%);
    }
}